<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/font.css">
    <link rel="stylesheet" href="/src/css/contents.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>
<div id="index_box">
    <%- include('../../common/left_menu') %>
    <div id="box_right">
        <div id="box_right_padding">
            <i id="menu_open" onclick="menu_open()" class="fas fa-bars"></i>
            <p id="right_title"><%= (locals.market !== undefined) ? "BACKTESTING / " + locals.market : "BACKTESTING" %></p>
            <p id="right_content">Today Time</p>
            <div id="board_view_box">
                <div id="board_view_content_box">
                    <div style="text-align: center">
                        <span id="krw">krw -</span> <input type="text" class="custom_candles_input"
                                                           placeholder="Ex) BTC" <%= (locals.market !== undefined) ? "value=" + locals.market.substring(4,) : "" %>
                                                           autofocus/>
                    </div>
                    <div style="text-align: center; margin-top: 20px">
                        <span id="count">COUNT : </span> <input type="text" class="custom_candles_input"
                                                                placeholder="Ex) 200" <%= (locals.count !== undefined) ? "value=" + locals.count : "" %>
                                                                autofocus/>
                    </div>

                    <div style="text-align: center; margin-top: 20px">
                        <span id="cumulative"><%= (locals.k_max !== undefined) ? "Best K : " + (locals.k_max['k']).toFixed(1) + " => " + ((locals.k_max['total']- 1) * 100).toFixed(3) +' %' : '' %> </span>
                    </div>

                    <div style="text-align: center; margin-top: 50px">
                        <!--json.stringfy 줄바꿈 안먹힐 때 null, 2 값 먹여주기-->
                        <% if((locals.k_list !== undefined) && (locals.total_list !== undefined)){ %>

                            <table class="best_k_view_table">
                                <thead>
                                <tr id="board_head">
                                    <th class="right_border" style="width: 200px">K</th>
                                    <th class="testing" style="text-align: center; width: 200px">누적 수익률</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for (var i = 0; i < k_list.length; i++) { %>
                                    <tr id="board_row">
                                        <!--<td class="right_border"><%= /*i + 1*/ %></td>-->
                                        <td style="width: 200px"><%= locals.k_list[i]['k'].toFixed(1); %></td>
                                        <td style="font-weight: bold; width: 200px; border-left: 2px solid #fff !important;"><%= ((locals.k_list[i]['total'] - 1) * 100).toFixed(3) %>
                                            %
                                        </td>
                                    </tr>

                                <% } %>
                                </tbody>
                                <tr id="board_bottom">
                                    <th class="right_border">K</th>
                                    <th class="testing" style="text-align: center">누적 수익률</th>
                                </tr>
                            </table>

                            <table class="best_k_view_table" style="margin-left: 50px">
                                <thead>
                                <tr id="board_head_k">
                                    <th class="right_border" style="width: 200px">K</th>
                                    <th class="testing_k" style="text-align: center; width: 200px">누적 수익률</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for (var i = total_list.length-1; i > -1; i--) { %>
                                    <tr id="board_row_k">
                                        <!--<td class="right_border"><%= /*i + 1*/ %></td>-->
                                        <td style="width: 200px"><%= locals.total_list[i]['k'].toFixed(1); %></td>
                                        <td style="font-weight: bold; width: 200px; border-left: 2px solid #fff !important;"><%= ((locals.total_list[i]['total'] - 1) * 100).toFixed(3) %>
                                            %
                                        </td>
                                    </tr>

                                <% } %>
                                </tbody>
                                <tr id="board_bottom_k">
                                    <th class="right_border">K</th>
                                    <th class="testing_k" style="text-align: center">누적 수익률</th>
                                </tr>
                            </table>

                        <% } else{ %>

                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    let input = document.getElementsByClassName('custom_candles_input')[0];
    let input_count = document.getElementsByClassName('custom_candles_input')[1];

    input_count.addEventListener('keypress', function (key) {
        if (key.key === 'Enter') {
            let url = 'KRW-' + input.value.toUpperCase();
            let count = Number(input_count.value);

            location.href = 'http://anhye0n.com/candles/history/backtest/best_k?coin_name=' + url + '&count=' + count

            console.log(url)
        }
    })
</script>
<script type="text/javascript" src="/src/js/main.js"></script>

</html>